.reply-container {
    background: #FFFFFF;
    padding: 20px;
}

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.file-attach {
    float: right;
}

input {
    display: none;
}

.Cancel-reply {
    margin-right: 30px !important;
    background: white !important;
    color:rgba(0, 0, 0, 0.87) !important;
}

.Submit-reply {
    background: #B0343C !important;
    color: #FFFFFF !important;
}