/* 
=> INDEX

    1. Footer component css
    2. Profile component css
    3. Answer and Reply component css
    4. Contact Component css
*/


/* Footer Component CSS */

.footer-top {
    border-top: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    background: white;
    padding-top: 50px;
    font-family: Montserrat !important;
    justify-content: center;
    padding-bottom: 20px;
}

.footer-bottom {
    background: white;
    color: #000;
    font-weight: 300;
    padding-top: 10px;
    font-size: 13px;
    font-family: Montserrat !important;
    justify-content: center;
    padding-bottom: 10px;
}

.footer-logo {
    margin-right: 15px;
    float: left;
}

.footer-logo-text {
    font-size: 16px;
    font-weight: 300;
    margin-top: -18px !important;
}

.footer-item {
    padding: 0px 20px 30px 18px;
}

.footer-item-other {
    padding: 0px 20px 30px 18px;
    margin-top: 0px !important;
}

.list-item, .footer-links {
    font-weight: 300;
    font-size: 16px !important;
    text-decoration: none !important;
    color: #000 !important;
    padding: 0 !important;
    padding-bottom: 2px !important;
}

.footer-headings {
    margin: 0px !important;
    font-size: 16px !important;
    margin-bottom: 15px !important;
}

.footer-social-icon {
    color: #fff;
}

.footer-social-icon .fa {
    padding-top: 4px;
}

.footer-links:hover {
    color: #b32800 !important;
}

.social-list {
    display: inline-flex;
    flex-direction: row;
}

.social-list-item {
    padding: 0px !important;
    margin-right: 10px;
}

.footer-social-links {
    background-color: #b32800;
    width: 27px;
    height: 27px;
    text-align: center;
    border-radius: 50%;
}

.footer-social-links:hover {
    background-color: #f99c38 !important;
}

/* Profile Component CSS */

.profile-bg {
    background: radial-gradient(20.76% 132.89% at 50% 50.22%, #B0343C 0%, #545D62 100%);
    align-content: center;
    height: 225px;
}
.profile-mob-tabs-info {
    padding: 16px;
}

.profile-mob-tabs .MuiTabs-indicator {
    background-color: #FFFFFF;
}

.profile-mob-tabs-heading {
    margin-left: 10px !important;
}

.profile-info-bg, .profile-mob-tabs-info {
    background: url('/assets/images/profile-back.png');
    background-position: center;
    background-repeat: no-repeat;
    min-height: 500px;
}

.profile-info-contributions, .profile-info-about {
    padding-left: 80px;
}

.profile-info-bg h3 {
    color: rgba(0, 0, 0, 0.54);
}

.profile-page {
    background-color: #FFFFFF;
}

.username {
    font-size: 18px;
    line-height: 21px;
    color: #FFFFFF;
}

.profile-buttons {
    border: 1px solid #FFFFFF !important;
    color: #FFFFFF !important;
    box-sizing: border-box !important;
    margin: 5px !important;
    border-radius: 0px !important;
}

.contribute-section .MuiAccordion-rounded {
    background-color: transparent;
    border-bottom: 1px solid rgba(0, 0, 0, 0.38);
    box-shadow: none;
    border-radius: 0px !important;
}

.profile-mob-tabs {
    margin-top: 10px;
    color: #FFFFFF;
}

@media only screen and (max-width:990px) {
    .profile-bg {
        background: radial-gradient(43.75% 70% at 50% 26%, #B0343C 0.64%, #545D62 100%);
    }
    .profile-info-contributions, .profile-info-about {
        padding-left: 20px;
        padding-right: 20px;
    }
}

/* Answer and Reply Component CSS */

.MuiButton-contained.Mui-disabled {
    color: rgba(0, 0, 0, 0.26) !important;
    box-shadow: none !important;
    background-color: rgba(0, 0, 0, 0.12) !important;
}

.answer-container, .reply-container {
    background: #FFFFFF;
    padding: 20px;
}

.Answer-field {
    background: rgba(0, 0, 0, 0.12);
}

.Answer-field .Mui-focused {
    background: #fff;
}

.image-attach, .file-attach {
    float: right;
}

.reply-file-attach {
    float: right;
    transform: translate(10px,-40px);
}

input {
    display: none;
}

.Cancel-answer, .Cancel-reply {
    margin-right: 30px !important;
    background: white !important;
    color:rgba(0, 0, 0, 0.87) !important;
}

.Submit-answer, .Submit-reply {
    background: #B0343C !important;
    color: #FFFFFF !important;
}

/* Contact Component CSS */

.contact-form-field {
    margin-bottom: 20px !important;
}

.contact-form-submit {
    background-color: #B32800 !important;
    color: #FFFFFF !important;
}

.contact-form-submit:hover {
    background-color: #f99c38 !important;
}